@use 'fontface/base'

@use 'colors'
@use 'form'
@use 'header'
@use 'nav'
@use 'tag'

*
	font-family: Ubuntu
	line-height: 110%

body
	margin: 12vh 3vh 3vh

h1
	text-align: center
	font-size: 160%

h2
	text-align: center
	font-size: 130%

input, button, textarea, select
	font-size: 110%
	padding: 0.5vh
