
%header

	-# TODO eventually will wrap this in an aside with search options
	%input#search(placeholder='search the police brutality database...')

	%nav
		.icon
		.drawer

			.top

				%a(href='/') home page

				%a(href='/contribute/report-incident') report an incident

				-# if a user is logged in
				- if (auth_user())
					.auth
						%h2 volunteer

						- if (auth_perms(1))
							%a(href='/volunteer/list-reports') view unprocessed incident reports

						- if (auth_perms(1))
							%a(href='/volunteer/create-incident') create new public incident

						- if (auth_perms(1))
							%a(href='/volunteer/tags/manage') tag management

			.bottom

				- if (auth_user())

					.email= auth_user()['email']

					%a(href='/logout') logout

				- else

					%a(href='/login') login

				%a &nbsp;
