
-###############################################################################
-# mobile app

-# https://developers.google.com/web/fundamentals/design-and-ux/browser-customization/

-# set as mobile app
%meta(name='mobile-web-app-capable' content='yes')
%meta(name='apple-mobile-web-app-capable' content='yes')

-# prevent mobile browsing weirdness
%meta(name='viewport' content='maximum-scale=1.0, initial-scale=1.0, width=device-width, user-scalable=0')

-# link to webapp manifest TODO
	%link(rel='manifest' href='/static/_webapp/manifest.json')

-# icons TODO

-###############################################################################
-# load code

-# load libraries
%script(src='/static/lib/jquery/jquery-3.5.1.min.js')
%link(rel='stylesheet' href='/static/lib/reset-2.0.css')

-# load global code
%script(src='/static/src/_global/junk.js')
%script(src='/static/src/_global/form.js')
%link(rel='stylesheet' href='/static/src/_global/.base.css')
%link(rel='stylesheet' href='/static/src/_global/_tags.css')

-# load template-specific code
%script{src: '/static/src/' . $endpoint . '.js'}
%link(rel='stylesheet'){href:'/static/src/' . $endpoint . '.css'}
