main form

	h1
		margin: 0 0 3vh

	.directions
		margin: 0 0 3vh

		p
			margin: 3vh 0 0

	.forminput
		margin-bottom: 3vh

		h2
			margin: 0 0 1.5vh

		.desc
			margin: 0 0 1.5vh

		input:not([type=checkbox]), textarea, select
			display: block
			width: 100%

		input[type=color]
			height: 10vh

		textarea
			height: 30vh
			resize: vertical

	.thumbnail_container
		display: block
		text-align: center
		margin: 1vh 0 0

		#thumbnail
			display: inline-block
			max-width: 100%
			max-height: 50vh

	.citystate

		input[name='loc_city']
			display: inline-block
			width: 80%
			margin-right: calc(5% - 4px)

		input[name='loc_state']
			display: inline-block
			width: 15%

	button[type='submit']
		display: block
		width: 100%

	.source
		margin: 0 0 1vh

		select
			display: inline-block
			width: 29%
			//margin-right: calc(0% - 4px)

		input[type='url']
			display: inline-block
			width: 70%
