@use 'colors'

header
	position: fixed
	top: 0
	height: 9vh
	left: 0
	right: 0
	background: colors.$nav

	input#search
		position: absolute
		top: 2vh
		bottom: 2vh
		left: 2vh
		width: calc(100vw - 12vh)
		padding: 0vh 1vh 0vh
		font-size: 2.7vh

	input#search::placeholder
		font-stretch: condensed
		font-style: italic
		font-size: 2.7vh
		color: #888

	nav .icon
		position: absolute
		top: 0
		bottom: 0
		width: 9vh
		right: 0
		background-image: url('/static/img/menu.png')
		background-size: contain
		filter: invert(1)
