@use 'colors'

nav

	.drawer
		position: fixed
		top: 9vh
		left: 100vw
		height: 91vh
		width: 50vw
		background: colors.$nav
		transition: left .2s

		a
			color: white
			display: block
			margin: 0 1vh 1vh

		h2
			color: white
			margin-bottom: 1vh

		.top
			position: absolute
			top: 0
			left: 0
			right: 0

		.bottom
			position: absolute
			left: 0
			bottom: 0
			right: 0

		.email
			color: white
			display: block
			margin: 0 1vh 1vh
			word-wrap: break-word
			font-stretch: condensed

nav:hover .drawer
	left: 50vw
