%form(action='/contribute/report-incident' method='POST' enctype='multipart/form-data')

	%h1 report incident

	.directions
		%p
			thank you for taking the time to report an incident.
		%p
			incidents should be more or less small, self-contained events directly
			related to the ongoing black/minority struggle for equality and/or the
			related police brutality protests.
		%p
			when reporting an incident, please refrain from using loaded or
			sensationalist language. do your best to detach from the event and
			simply describe the facts.
		%p
			the content curators will receive your submission directly, and merge
			the information you provide here with other similar submissions
			to display as part of the sites content.

	.forminput
		%h2 title
		.desc
			a concise title to describe the incident.
		.desc
			should be short enough to appear as link text and be memorable, but long
			and descriptive enough to differentiate it from other incidents.
		%input(type='text' name='title' autocomplete='off')

	.forminput
		%h2 thumbnail
		.desc
			(optional)
		.desc
			preferrably choose a screenshot from a video of the incident,
			one thats evocative and captures the essence of the event. keep it under
			10MB and upload as a png, gif, jpg, or bmp.
		%input(type='file' name='thumbnail' accept='image/*' onchange='preview_image(this, "thumbnail")')
		.thumbnail_container
			%img#thumbnail

	.forminput
		%h2 description
		.desc
			(optional)
		.desc
			this should provide in-depth coverage of the details of the incident.
			anyone reading this should be fully informed of all that happened, even
			if they decline to view the sources.
		%textarea(name='description')

	.forminput
		%h2 date
		.desc
			select the incidents date.
		%input(type='date' name='date')

	.forminput
		%h2 location
		.desc
			the incidents city and state.
		.desc
			if you are reporting a noteworthy event outside the usa, note the
			location in the city field and leave the state field blank.
		.citystate
			%input(type='text' name='loc_city' placeholder='city')
			%input(type='text' name='loc_state' placeholder='st' maxlength=2)

	.forminput
		%h2 sources
		.desc
			(optional)
		.desc
			please link to as many sources as you can. a source could be
			a video or an image hosted on a social media site, or an article written
			by a witness to the event or an unbiased news source.
		- for ($i = 0; $i < 5; $i++)
			%input(type='url' name='sources[]')

	- if ($captcha)
		.forminput
			%h2 captcha
			.desc= htmlentities($captcha['q'])
			%input(type='text' name='captcha_resp' autocomplete='off')

	- if (!$captcha)
		%input(type='hidden' name='captcha_resp' value='')

	- foreach ($captcha['a'] as $captcha_ans)
		%input(type='hidden' name='captcha_ans[]' value=$captcha_ans)

	%button(type='submit') submit
