%form(action='/volunteer/tags/cat-create' method='POST')

	- if ($cat)
		%h1 edit tag category
	- else
		%h1 create tag category

	.forminput
		%h2 title
		.desc
			a short category title, to be displayed among others
		%input(type='text' name='title'){value:$cat['title']}

	.forminput
		%h2 description
		.desc
			a longer description to be shown on this categorys landing page
		%textarea(name='description')= $cat['description']

	.forminput
		%h2 badge color
		%input(type='color' name='color_bg'){value:($cat['color_bg'] ?? '#CC0000')}

	.forminput
		%h2 text color
		%input(type='color' name='color_fg'){value:($cat['color_fg'] ?? '#FFFFFF')}

	.forminput
		%h2 preview
		.tagcontainer
			.tag My Tag

	- if ($cat)
		%input(type='hidden' name='tcid'){value:strval($cat['tcid'])}

	%button(type='submit')= ($cat ? 'edit' : 'create') . ' category'
