%form(action='/volunteer/tags/create' method='POST')

	- if ($tag)
		%h1 edit tag
	- else
		%h1 create tag

	.forminput
		%h2 category
		%select(name='tcid')
			%option(value=0) \=== uncategorized ===
			- foreach ($cats as $cat)
				%option{value:$cat['tcid'], selected:(($cat['tcid'] == $tcid || $cat['tcid'] == $tag['tcid']) ? 'true' : null)}= $cat['title']

	.forminput
		%h2 name
		.desc
			to be displayed wherever this tag is shown
		%input(type='text' name='name'){value:$tag['name']}

	.forminput
		%h2 slug
		.desc
			%b once set, this cannot be edited.
		.desc
			the permalink for this tag. likely will be a safe version of the tag
			name, using only lowercase english letters, numbers, and the hyphen -
		%input(type='text'){name:($tag['slug'] ? null : 'slug'), value:$tag['slug'], disabled:($tag ? 'true' : null)}

	.forminput
		%h2 description
		.desc
			a longer description to be shown on this tags landing page
		%textarea(name='description')= $tag['description']

	.forminput
		%h2 preview
		.tagcontainer
			.tag

	- if ($tag)
		%input(type='hidden' name='tid'){value:$tag['tid']}

	%button(type='submit') create tag
