.actions
	margin: 2vh 0 0

	a
		display: block
		margin: 1vh 0 0

details
	margin: 2vh 0 0
	padding: 1vh
	border: 1px solid black
	border-radius: 0.5vh

	a
		margin: 1vh 0 0
		display: block

.tagcontainer
	padding: 1vh 0 0

	a
		display: inline-block
		margin-left: 0.5em

h3
	margin: 2vh 0 0
