%h1 tag management

.actions
	%h2 actions
	%a(href='/volunteer/tags/create') create new tag
	%a(href='/volunteer/tags/cat-create') create new category

- foreach ($cats as $cat)

	%details
		%summary= $cat['title']

		%a{href:'/volunteer/tags/create?tcid=' . $cat['tcid']} create new tag in this category
		%a{href:'/volunteer/tags/cat-create?tcid=' . $cat['tcid']} edit this category
		%a(onclick='return confirm("are you sure you want to delete this tag category? this action will also delete all tags inside this category.")'){href:'/volunteer/tags/delete?tcid=' . $cat['tcid']} delete

		- foreach ($tags as $tag)
			- if ($tag['tcid'] == $cat['tcid'])
				.tagcontainer
					.tag{class:'tc' . strval($cat['tcid'])}= $tag['name']
					%a{href:'/volunteer/tags/create?tid=' . $tag['tid']} edit tag
					%a(onclick='return confirm("are you sure you want to delete this tag?")'){href:'/volunteer/tags/delete?tid=' . $tag['tid']} delete

%h3 uncategorized tags

- foreach ($tags as $tag)
	- if (!$tag['tcid'])
		.tagcontainer
			.tag= $tag['name']
			%a{href:'/volunteer/tags/create?tid=' . $tag['tid']} edit tag
			%a(onclick='return confirm("are you sure you want to delete this tag?")'){href:'/volunteer/tags/delete?tid=' . $tag['tid']} delete
