%form(action='/volunteer/create-incident' method='POST' enctype='multipart/form-data')

	%h1 create public incident

	- if ($raw)
		%input(type='hidden' name='reid'){value:$report['reid']}
	- if ($final)
		%input(type='hidden' name='feid'){value:$report['feid']}

	.forminput
		%h2 slug
		.desc
			%b once set, this cannot be edited.
		.desc
			the permalink for this incident.
		.desc
			should be short, yet descriptive, evocative, and memorable, to
			facilitate easy typing, sharing, and remembering.
		.desc
			it also must be unique from all other slugs, of course.
		.desc
			this will likely be a play on the incidents title, but should only use
			lowercase english letters, numbers, and the hyphen -
		%input(type='text' autocomplete='off'){name:$raw ? 'slug' : '', disabled:$final, value:$report['slug']}

	.forminput
		%h2 title
		.desc
			a concise title to describe the incident.
		.desc
			should be short enough to appear as link text and be memorable, but long
			and descriptive enough to differentiate it from other incidents.
		%input(type='text' name='title' autocomplete='off'){value:$report['title']}

	.forminput
		%h2 thumbnail
		.desc
			(optional)
		.desc
			preferrably choose a screenshot from a video of the incident,
			one thats evocative and captures the essence of the event. keep it under
			10MB and upload as a png, gif, jpg, or bmp.
		%input(type='file' name='thumbnail' accept='image/*'){onchange:'preview_image(this, \'thumbnail\', \'' . ($report['thumbnail'] ? '/uploads/images/' . $report['thumbnail'] : '') . '\')'}
		%input(type='hidden' name='thumbnail_default'){value:($report['thumbnail'] ?? '')}
		.thumbnail_container
			%img#thumbnail{src:($report['thumbnail'] ? '/uploads/images/' . $report['thumbnail'] : '')}

	.forminput
		%h2 description
		.desc
			(optional)
		.desc
			this should provide in-depth coverage of the details of the incident.
			anyone reading this should be fully informed of all that happened, even
			if they decline to view the sources.
		%textarea(name='description')= $report['description']

	.forminput
		%h2 date
		.desc
			select the incidents date.
		%input(type='date' name='date'){value:$report['date']}

	.forminput
		%h2 location
		.desc
			the incident city and state.
		.desc
			if you are reporting a noteworthy event outside the usa, note the
			location in the city field and leave the state field blank.
		.citystate
			%input(type='text' name='loc_city' placeholder='city'){value:$report['loc_city']}
			%input(type='text' name='loc_state' placeholder='st' maxlength=2){value:substr($report['loc_state'], 0, 2)}

	.forminput
		%h2 importance
		.desc
			reserved for incidents of exceptional violence and/or reasonable
			historical significance.
		.desc
			for now, all this does is mark an incident as a candidate to be shown
			on the front page.
		%label
			%input(type='checkbox' name='importance')
			mark as important

	.forminput
		%h2 sources
		.desc
			(optional)
		.desc
			please verify these sources, and add any additional ones you know of.
		.desc
			a source could be a video or an image hosted on a social media site, or
			an article written by a witness to the event or an unbiased news source.
		.desc
			please also indicate the type of source linked, and a short text snippet
			to be used as the clickable link text.
		-# print out fields for all existing sources, plus some more for good measure
		- for ( $i = 0; $src = (array_key_exists($i, $sources) ? $sources[$i] : null), $i < 2 + count($sources); $i++)
			.source
				%input(type='hidden' name='sources_i[]'){value:strval($i)}
				%input(type='hidden' name='sources_rsid[]'){value:(array_key_exists('rsid',$src) ? $src['rsid'] : '')}
				%input(type='hidden' name='sources_fsid[]'){value:(array_key_exists('fsid',$src) ? $src['fsid'] : '')}
				%select(name='sources_medium[]')
					- foreach (['video','image','article','audio'] as $medium)
						%option{selected:($src['medium'] == $medium ? 'selected' : null)}= $medium
				%input(type='url' name='sources_value[]' placeholder='url'){value:(array_key_exists('value',$src) ? $src['value'] : '')}
				%input(type='text' name='sources_title[]' placeholder='description'){value:(array_key_exists('title',$src) ? $src['title'] : '')}

	.forminput
		%h2 torrents
		.desc
			(optional)
		.desc
			coming soonish

	.forminput
		%h2 submit
		%button(type='submit')= ($final ? 'edit' : 'publish') . ' public incident'
