%h1 view submitted reports

%table
	%tr
		%th title
		%th location

	- while ($row = $query->fetch_assoc())
		%tr
			%td
				%a{href:'/view-incident?reid=' . strval($row['reid'])}
					= $row['title']
			%td
				= $row['loc_city'] . ($row['loc_state'] ? ', ' . $row['loc_state'] : '')
