%h1 login

- if (!auth_user())
	%form(action='/login' method='POST')
		%input(type='email' name='email' placeholder='email')
		%button(type='submit') send magic link

- if (auth_user())
	%div
		you are logged in as:
		%b= auth_user()['email']
