.volunteer
	margin: 0 0 1vh

	a
		display: block
		margin: 1vh 0 0

	details
		margin: 2vh 0 0
		padding: 1vh
		border: 1px solid black
		border-radius: 0.5vh

		label
			display: block

		button
			margin: 1vh 0 0

	details[open] summary
		margin: 0 0 1vh

.thumbnail_container
	display: block
	text-align: center
	margin: 1vh 0 0

	#thumbnail
		display: inline-block
		max-width: 100%
		max-height: 50vh

.locdate
	margin: 1vh 0 0
	display: table
	width: 100%
	font-weight: bold

	.location
		display: table-cell
		text-align: left

	.date
		display: table-cell
		text-align: right

.description
	padding: 1vh 0 2vh

	div
		margin: 1vh 0 0

.source
	margin: 1vh 0 0
	line-break: anywhere
