- if (auth_user())
	%h2 volunteer

	.volunteer

		- if ($raw)

			- if (auth_perms(1))
				%a{href:"/volunteer/create-incident?reid=".$incident['reid']}
					create new public incident from this report

			-# TODO implement this! it would be super handy
			-# if (auth_perms(1))
				%a{href:"/volunteer/create-incident?reid=".$incident['reid']."&feid=0"}
					merge this report into an existing public incident

			- if (auth_perms(1))
				%a(onclick='return window.confirm("are you sure you wish to delete this report?")'){href:"/volunteer/delete-report?reid=".$incident['reid']}
					delete this report

		- if ($final)

			- if (auth_perms(1))
				%details
					%summary modify tags
					%form(action='/volunteer/tag-incident' method='POST')
						- foreach ($tags as $ot)
							%input(type='hidden' name='oldtids[]'){value:$ot['tid']}
						- foreach ($alltags as $at)
							%label
								%input(type='checkbox' name='newtids[]'){value:$at['tid'], checked:(in_array($at['tid'], array_column($tags, 'tid')) ? 'checked' : null)}
								.tag{class:'tc'.$at['tcid']}= $at['name']
						%input(type='hidden' name='feid'){value:$incident['feid']}
						%button(type='submit') update tags

			- if (auth_perms(1))
				%a{href:"/volunteer/create-incident?feid=".$incident['feid']}
					edit this public incident

			- if (auth_perms(1))
				%a(onclick='return window.confirm("are you sure you wish to delete this incident?")'){href:"/volunteer/delete-report?feid=".$incident['feid']}
					delete this incident

%h1= $incident['title']

.tagrow
	- foreach ($tags as $t)
		.tag{class:'tc'.$t['tcid']}= $t['name']

- if ($incident['thumbnail'])
	.thumbnail_container
		%img#thumbnail{src:"/uploads/images/".$incident['thumbnail']}

.locdate
	.location= $incident['loc_city'] . ($incident['loc_state'] ? ", {$incident['loc_state']}" : '')
	.date= (new DateTime($incident['date']))->format('M j, Y')

.description
	- foreach(explode("\n", $incident['description']) as $desc_p)
		- if ($desc_p)
			%div= $desc_p

%h2 sources

- if ($raw)
	- foreach ($sources as $src)
		.source
			%a(rel='nofollow'){href:sanitize($src['value'])}
				= $src['title'] ? $src['title'] : $src['value']

- if ($final)
	- foreach ($sources as $src)
		.source
			%span.medium= '[' . $src['medium'] . ']'
			%a(rel='nofollow'){href:$src['value']}
				= $src['title'] ? $src['title'] : $src['value']
