@font-face
	font-family: 'Ubuntu'
	src: url('/static/font/Ubuntu/Ubuntu-R.ttf')

@font-face
	font-family: 'Ubuntu'
	font-style: italic
	src: url('/static/font/Ubuntu/Ubuntu-I.ttf')

@font-face
	font-family: 'Ubuntu'
	font-weight: bold
	src: url('/static/font/Ubuntu/Ubuntu-B.ttf')

@font-face
	font-family: 'Ubuntu'
	font-style: italic
	font-weight: bold
	src: url('/static/font/Ubuntu/Ubuntu-BI.ttf')

@font-face
	font-family: 'Ubuntu'
	font-stretch: condensed
	src: url('/static/font/Ubuntu/Ubuntu-C.ttf')
